# Data Collections 2 (Dictionaries, Sets) and Importing Modules

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [8]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245')
]


address_book.append(('Dan','', '', '(443) 345-3466'))

address_book

[('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
 ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
 ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
 ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245'),
 ('Dan', '', '', '(443) 345-3466')]

In [9]:
def get_phone(first_name):
    for tup in address_book:
        if tup[0] == first_name:
            return tup[3]
    return -1


get_phone('Dan')

'(443) 345-3466'

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are "ordered" as of Python 3.6</p>

##### Declaring (key, value)

In [12]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...}

d_1 = {}
print(d_1)
print(type(d_1))


d_2 = dict()
print(d_2)
print(type(d_2))


d_3 = {
    'Hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Sydney': '555 Santa Monica Blvd',
    'Tevin': '100 Rodeo Blvd'
}
print(d_3)
print(type(d_3))

{}
<class 'dict'>
{}
<class 'dict'>
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd', 'Tevin': '100 Rodeo Blvd'}
<class 'dict'>

##### Accessing Values

In [13]:
# dict[key]

d_3['Hank']

'123 Real Street'

In [14]:
d_3['Tevin']

'100 Rodeo Blvd'

In [15]:
d_3['Brian']

KeyError: 'Brian'

##### .get()

In [16]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [19]:
# dict.get('key') or dict.get('key', value_if_no_key)

print(d_3.get('Peter'))
print(d_3.get('Brian'))
print(d_3.get('Brian', 'No Address Available'))

321 Fake Street
None
No Address Available

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [21]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

print("My favorite car is a {} {} {}".format(truck.get('year'), truck.get('make'), truck.get('model')))
print(f"My favorite car is a {truck.get('year')} {truck.get('make')} {truck.get('model')}")

My favorite car is a 2018 Chevrolet Silverado
My favorite car is a 2018 Chevrolet Silverado

##### Adding New Pairs

In [23]:
# dict[key] = value

d_3['Zooey'] = '151 Main Street'

d_3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Blvd',
 'Zooey': '151 Main Street'}

##### Modifying Values

In [24]:
# dict[key] = value

d_3['Zooey'] = '321 Fake Street'

d_3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Blvd',
 'Zooey': '321 Fake Street'}

##### Removing Key, Value Pairs

In [29]:
# del dict[key]

del d_3['Tevin']

d_3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '321 Fake Street'}

##### Looping a Dictionary

In [50]:
# .items()
# a, b, c = 1, 2, 3
# print(a)
# print(b)
# print(c)


# Correct way to access key and value pairs in dictionary
for key,value in d_3.items():
    print(key)
    print(value)

Hank
123 Real Street
Peter
321 Fake Street
Sydney
555 Santa Monica Blvd
Zooey
321 Fake Street

In [55]:
d_3[2.123] = 'This is the value for the key of 2.113'
d_3[2]

'This is the value for the key of 2'

In [56]:
d_3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '321 Fake Street',
 2: 'This is the value for the key of 2',
 2.123: 'This is the value for the key of 2.113'}

##### Looping Only Keys

In [60]:
# .keys()
for i in d_3:
    print(i)

print('='*20)

for i in d_3.keys():
    print(i)

Hank
Peter
Sydney
Zooey
2
2.123
====================
Hank
Peter
Sydney
Zooey
2
2.123

In [62]:
for key in d_3.keys():
    print(key, d_3[key])

Hank 123 Real Street
Peter 321 Fake Street
Sydney 555 Santa Monica Blvd
Zooey 321 Fake Street
2 This is the value for the key of 2
2.123 This is the value for the key of 2.113

##### Looping Only Values

In [63]:
# .values()

for v in d_3.values():
    print(v)

123 Real Street
321 Fake Street
555 Santa Monica Blvd
321 Fake Street
This is the value for the key of 2
This is the value for the key of 2.113

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [68]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}

for key, value in people.items():
    print(f"{key} has {value} eyes.")
    
print('='*20)

for key in people:
    print(f"{key} has {people[key]} eyes.")

Max has blue eyes.
Lilly has brown eyes.
Barney has blue eyes.
Larney has brown eyes.
Ted has purple eyes.
====================
Max has blue eyes.
Lilly has brown eyes.
Barney has blue eyes.
Larney has brown eyes.
Ted has purple eyes.

In [69]:
help(people.items)

Help on built-in function items:

items(...) method of builtins.dict instance
    D.items() -> a set-like object providing a view on D's items

##### sorted()

In [73]:
# sorts variables in order
# sorted(dict.values()) or dict.keys() or dict.items()
# help(sorted)


print(sorted(people))
print(sorted(people.values()))
print(sorted(people.items()))

['Barney', 'Larney', 'Lilly', 'Max', 'Ted']
['blue', 'blue', 'brown', 'brown', 'purple']
[('Barney', 'blue'), ('Larney', 'brown'), ('Lilly', 'brown'), ('Max', 'blue'), ('Ted', 'purple')]

In [78]:
people.items()

dict_items([('Max', 'blue'), ('Lilly', 'brown'), ('Barney', 'blue'), ('Larney', 'brown'), ('Ted', 'purple')])

##### List with Dictionaries

In [86]:
names = ['Dave', 'Randy', 'Greg', {'guy': 'Bob', 'gal': 'Cindy'}]

print(names)
print(names[3], type(names[3]))
print(names[3]['guy'])
print(names[3]['gal'])
# print(names[3][0])

['Dave', 'Randy', 'Greg', {'guy': 'Bob', 'gal': 'Cindy'}]
{'guy': 'Bob', 'gal': 'Cindy'} <class 'dict'>
Bob
Cindy

##### List of Dictionaries

In [87]:
movies = [
    {'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010},
    {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010},
    {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006},
    {'release_year': 2019, 'director': 'Bong Joon Ho', 'title': 'Parasite'},
    {'title': 'Star Wars', 'director': 'George Lucas', 'release_year': 1976}
]

print(movies)

[{'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010}, {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010}, {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006}, {'release_year': 2019, 'director': 'Bong Joon Ho', 'title': 'Parasite'}, {'title': 'Star Wars', 'director': 'George Lucas', 'release_year': 1976}]

In [92]:
for m in movies:
    print(f"Title: {m['title']} -- Directed by: {m['director']} -- {m['release_year']}")

Title: Inception -- Directed by: Christopher Nolan -- 2010
Title: The Social Network -- Directed by: David Fincher -- 2010
Title: The Departed -- Directed by: Martin Scorsese -- 2006
Title: Parasite -- Directed by: Bong Joon Ho -- 2019
Title: Star Wars -- Directed by: George Lucas -- 1976

##### Dictionaries with Lists

In [101]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes
random_data = {
    'list1': [23, 66, 235],
    '0': ['a', 'b', 'c']
}


print(random_data)

print(random_data['list1'], type(random_data['list1']))
print(random_data['list1'][1])

{'list1': [23, 66, 235], '0': ['a', 'b', 'c']}
[23, 66, 235] <class 'list'>
66

In [102]:
print(random_data['0'][1])

b

##### Dictionaries with Dictionaries

In [106]:
# to get values, must traverse through keys

my_shoppe = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'oreo': 3.49
    },
    'milkshake': {
        'vanilla': 3.99,
        'chocolate': 3.99,
        'oreo': 4.49
    }
}


print(my_shoppe['ice_cream']['oreo'])

3.49

In [112]:
for desert_type in my_shoppe.keys():
    for flavor, price in my_shoppe[desert_type].items():
        if price < 4.00:
            print(flavor, desert_type)

vanilla ice_cream
chocolate ice_cream
oreo ice_cream
vanilla milkshake
chocolate milkshake

In [116]:
job_app = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'Bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'Quality Assurance',
            'years_at_company': [2014, 2015]
        }
    ],
    'us_citizen': True
}


job_app['prog_languages'][0]['proficiency']

8

In [121]:
# How many years did Jimmy Smith work at AlphaInc? * using the builtin len function

len(job_app['experience'][1]['years_at_company'])

2

In [124]:
type(job_app['us_citizen'])

bool

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [125]:
import time


# generate fake dictionary
d = {}

for i in range(10000000):
    d[i] = 'value'
    

# generate fake list
big_list = [x for x in range(10000000)]

In [135]:
time.time()

1652382703.4918048

In [150]:
# tracking time for dictionary
start_time = time.time()

print(9999999 in d)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.0010004043579101562
True
Elapsed time for list: 0.3750650882720947

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [159]:
# set() or {val,...}


my_set = set()

print(my_set)
print(type(my_set))

not_a_set = {}
print(not_a_set)
print(type(not_a_set))


full_set = {5, 2, 8, 2, 2, 2, 2, 5, 5, 8}
print(full_set)
print(type(full_set))

set()
<class 'set'>
{}
<class 'dict'>
{8, 2, 5}
<class 'set'>

In [158]:
string_set = {'abc', 'hello', 'goodbye'}
print(string_set)
print(type(string_set))

{'hello', 'abc', 'goodbye'}
<class 'set'>

##### .add()

In [165]:
# set.add(value_to_add)

full_set.add(123)

print(full_set)

{8, 2, 123, 5}

##### .remove()

In [166]:
# removes by value
# set.remove(value_to_remove)

full_set.remove(123)

print(full_set)

{8, 2, 5}

In [167]:
for num in full_set:
    print(num)

8
2
5

##### .union()

In [169]:
# Returns a union of two sets, can also use '|' or set1.union(set2)
# joins all numbers, gets rid of duplicates
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

s3 = s2.union(s1)

# OR

s4 = s2 | s1

print(s3)
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

##### .intersection()

In [170]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets

s5 = s1.intersection(s2)

# OR

s6 = s1 & s2

print(s5)
print(s6)

{3, 4}
{3, 4}

##### .difference()

In [171]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters

s7 = s1.difference(s2)
s8 = s2.difference(s1)
# OR

s9 = s1 - s2
s10 = s2 - s1


print(s7)
print(s8)

print(s9)
print(s10)

{1, 2}
{5, 6}
{1, 2}
{5, 6}

##### .clear()

In [173]:
# Empties the whole set
# set.clear()

s10.clear()

print(s10)

set()

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [175]:
# frozenset([])

my_frozen_set = frozenset('hello')

print(my_frozen_set)


my_frozen_set.add('b')

frozenset({'o', 'h', 'l', 'e'})

AttributeError: 'frozenset' object has no attribute 'add'

In [176]:
# import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [180]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for set: 0.0009877681732177734
True
Elapsed time for list: 0.38801145553588867

In [184]:
def is_rainbow_color(a_color):
    rainbow_colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
    if a_color in rainbow_colors:
        return True
    return False


is_rainbow_color('magenta')

False

In [187]:
some_values = [1, 1, 1, 1, 2, 3, 3, 2, 2, 3, 3, 4, 1, 3, 1, 3]

list(set(some_values))

[1, 2, 3, 4]

# Exercises

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the variables into variables
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

In [193]:
from IPython.display import clear_output

def run():
    ask = input('What would you like to do: add/remove/quit')
    while ask != 'quit':
#         clear_output()
        print(ask)
        ask = input('Cool! Now what? add/remove/quit')
    print("Program finished")
    
run()

What would you like to do: add/remove/quitquit
Program finished

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in the list of all the teammates and return a list of times where everyone can meet.

In [ ]:
billy_times = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
teammate_1 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
teammate_2 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
teammate_3 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
# Available Times: '12:00' and '14:30'

def can_meet(billy, t_1, t_2, t_3):
    pass


can_meet(billy_times, teammate_1, teammate_2, teammate_3)

In [ ]:
def can_meet(*people_times):
    pass

In [195]:
def some_func(*people_times):
    print(people_times)
    
    
some_func(1, 2, 3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 6, 7)